.blog{
    .blog__title{
        margin: 70px 0;
        display: flex;
        align-items: center;
        justify-content: space-between;
        h2{
            font-family: Manrope;
            font-size: 40px;
            font-weight: 700;
            line-height: 54.64px;
        }
        button{
            display: flex;
            align-items: center;
            gap: 10px;
            border: 1px solid #454545;
            font-family: Manrope;
            font-size: 16px;
            font-weight: 500;
            line-height: 21.86px;
            text-align: left;
            padding: 12px 48px;
            border-radius: 100px;
            background-color: #fff;
            transition: .3s;
        }
        button:hover{
            background-color: #454545;
            color: #fff;
            border: 1px solid #454545;
        }
        button:active{
            transform: scale(0.95);
        }
    }
    .blog__cards{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        .card__parag{
            display: flex;
            gap: 74px;
            h3{
                max-width: 310px;
                font-family: Manrope;
                margin-top: 29px;
                font-size: 20px;
                font-weight: 700;
                line-height: 26px;
            }
            p{
                margin-top: 24px;
                font-family: Manrope;
                font-size: 14px;
                font-weight: 500;
                line-height: 15.4px;
                color: #454545;
            }
            svg{
                font-size: 28px;
                margin-top: 29px;
            }
        }
    }
    .blog__cardss{
        display: none;
    }
    .btns{
        display: none;
        button{
            display: flex;
            align-items: center;
            gap: 10px;
            border: 1px solid #454545;
            font-family: Manrope;
            font-size: 16px;
            font-weight: 500;
            line-height: 21.86px;
            text-align: left;
            padding: 12px 48px;
            border-radius: 100px;
            background-color: #fff;
            transition: .3s;
        }
        button:hover{
            background-color: #454545;
            color: #fff;
            border: 1px solid #454545;
        }
        button:active{
            transform: scale(0.95);
        }
    }
}

@media (max-width:700px) {
    .blog__title{
        button{
            display: none !important;
        }
    }
    .btns{
        display: flex !important;
        margin: 50px 0;
    }
    .blog__cardss{
        display: flex !important;
        .card__parag{
            display: flex;
            gap: 74px;
            h3{
                max-width: 310px;
                font-family: Manrope;
                margin-top: 29px;
                font-size: 20px;
                font-weight: 700;
                line-height: 26px;
            }
            p{
                margin-top: 24px;
                font-family: Manrope;
                font-size: 14px;
                font-weight: 500;
                line-height: 15.4px;
                color: #454545;
            }
            svg{
                font-size: 28px;
                margin-top: 29px;
            }
        }
    }
    .blog__cards{
        display: none !important;
       
    }
}